<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
        crossorigin="anonymous"></script>

    <style>
        div {
            overflow: hidden;
        }

        p {
            margin-bottom: 0vw;
        }
    </style>

</head>

<body style="overflow: hidden;">

    <!-- <div style="background-color: rgb(255, 100, 0);"></div>
    <div style="background-color: rgb(255, 133, 0);"></div>
    <div style="background-color: rgb(255, 166, 0);"></div> -->






    <!-- <div> -->
    <!-- data-bs-ride="carousel" -->
    <div id="carouselExample" class="carousel slide">

        <div class="carousel-inner" style="text-align: center;">

            <div style="background-color: aqua; display: flex; height: fit-content; width: fit-content;">
                <% for (let i=0; i < all.delivery.length; i++) { %>
                    <div onclick="del_items('delivery', <%= i %>)" style="cursor: pointer; background-color: blue; width: 10vw; height: 30vh; text-align: center; border-radius: 10%; margin-block: 1vh; margin-left: 45vw;"
                        class="carousel-item active"
                        id="delivery_<%= i %>">
                        
                        <p>
                            <%= all.delivery[i].id %>
                        </p>
                        <p>
                            <%= all.delivery[i].address %>
                        </p>
                        <p>
                            <%= all.delivery[i].payment %>
                        </p>
                        <p>
                            <%= all.delivery[i].account %>
                        </p>
                        <p>
                            <%= all.delivery[i].batch %>
                        </p>
                        <!-- <p> <%= all.delivery[i].extra_instructions %> </p> -->
                    </div>
                    <% } %>
            </div>


        </div>

        <button style="background-color: black;" class="carousel-control-prev" type="button"
            data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>

        <button style="background-color: black;" class="carousel-control-next" type="button"
            data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>

    </div>


    <div id="carouselExample_2" class="carousel slide">

        <div class="carousel-inner" style="text-align: center;">

            <div style="background-color: red; display: flex; width: fit-content;">
                <% for (let i=0; i < all.orders.length; i++) { %>
                    <div onclick="del_items('orders', <%= i %>)" 
                        style="cursor: pointer; background-color: orange; width: 10vw; height: 30vh; text-align: center; border-radius: 10%; margin-block: 1vh; margin-left: 45vw;"
                        class="carousel-item active"
                        id="orders_<%= i %>">
                        
                        <p>
                            <%= all.orders[i].id %>
                        </p>
                        <p>
                            <%= all.orders[i].food %>
                        </p>
                        <p>
                            <%= all.orders[i].price_per %>
                        </p>
                        <p>
                            <%= all.orders[i].ammount %>
                        </p>
                        <p>
                            <%= all.orders[i].account %>
                        </p>
                        <p>
                            <%= all.orders[i].batch %>
                        </p>
                    </div>
                    <% } %>
            </div>


        </div>

        <button style="background-color: black;" class="carousel-control-prev" type="button"
            data-bs-target="#carouselExample_2" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>

        <button style="background-color: black;" class="carousel-control-next" type="button"
            data-bs-target="#carouselExample_2" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>

    </div>

    <div id="carouselExample_3" class="carousel slide">

        <div class="carousel-inner" style="text-align: center;">

            <div style="background-color: purple; display: flex; width: fit-content;">
                <% for (let i=0; i < all.users.length; i++) { %>
                    <div onclick="del_items('users', <%= i %>)" 
                        style=" cursor: pointer; background-color: plum; width: 10vw; height: 30vh; text-align: center; border-radius: 10%; margin-block: 1vh; margin-left: 45vw;"
                        class="carousel-item active"
                        id="users_<%= i %>">
                        
                        <p>
                            <%= all.users[i].id %>
                        </p>
                        <p>
                            <%= all.users[i].username %>
                        </p>
                        <p>
                            <%= all.users[i].email %>
                        </p>
                        <p>
                            <%= all.users[i].phone %>
                        </p>
                        <p>
                            <%= all.users[i].address %>
                        </p>
                        <p>
                            <%= all.users[i].password %>
                        </p>

                    </div>
                    <% } %>
            </div>


        </div>

        <button style="background-color: black;" class="carousel-control-prev" type="button"
            data-bs-target="#carouselExample_3" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>

        <button style="background-color: black;" class="carousel-control-next" type="button"
            data-bs-target="#carouselExample_3" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>

    </div>
    <!-- </div> -->

    <!-- <h1> [Bootstrap goes here ^] </h1> -->
    <div style="background-color: black; display: flex; justify-content: center;">
        <!-- <button> Edit </button> -->
    </div>

    <script>
        // alert("hello")

        var users = <%- JSON.stringify(all.users) %>;
        var orders = <%- JSON.stringify(all.orders) %>;
        var delivery = <%- JSON.stringify(all.delivery) %>;

        function del_items(table_name, i){


            let table_data;
            if (table_name === 'users') table_data = users;
            else if (table_name === 'orders') table_data = orders;
            else if (table_name === 'delivery') table_data = delivery;



            if(
confirm(`Are you sure you want to delete ${table_name} nr ${i+1}?
${JSON.stringify(table_data[i], null, 1)}`)
            ){
                fetch(`/nimdA/delete/row`, {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({
                        table_name,
                        id: table_data[i].id
                    })

                })
                document.getElementById(`${table_name}_${i}`).remove();

                alert("(Deleted item)")
            } else{
                alert("(Deletion canceled)")
            }
        }

    </script>

</body>

</html>